.attribution {
   font-size: 11px;
   text-align: center; 
}
   
 .attribution a { 
    color: hsl(228, 45%, 44%); 
}

.container {
    display:  grid;
    width: 1440px;
    height: 700px;
    color: whitesmoke;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 400px;
    justify-content: center;
    align-content: center;
}  

.sedans {
    
    background-color: hsl(31, 77%, 52%);
}

.suvs {

    background-color: hsl(184, 100%, 22%); 
}

.luxury {

    background-color: hsl(179, 100%, 13%);
}

.size {
   
    border-radius: 15px;
    padding: 40px;
}

h1{
    font-family: serif;
    font-weight: 700 ;  
}

p {
    font-family: monospace;
    font-weight: 400;
    font-size: 15px;
    font-style: italic;
}

.button {
  background-color: whitesmoke;
  border: none;
  font-family: monospace;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:30px;
}

#sedans .button {
    color: hsl(31, 77%, 52%);
}

#suvs .button {
    color:  hsl(184, 100%, 22%);
}

#luxury .button {
    color:  hsl(179, 100%, 13%);
}


